<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713816361236-jeog7a248a7sdchpfomle76cpb5dp5cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713816361236-jeog7a248a7sdchpfomle76cpb5dp5cs</string>
	<key>API_KEY</key>
	<string>AIzaSyBtee2UrOaQca6w1ZTTphJsB2kggSLXgnk</string>
	<key>GCM_SENDER_ID</key>
	<string>713816361236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aero.enroute.efb</string>
	<key>PROJECT_ID</key>
	<string>efb-enroute-311da</string>
	<key>STORAGE_BUCKET</key>
	<string>efb-enroute-311da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713816361236:ios:fd7ed29a8cc5b9fcce1a01</string>
	<key>DATABASE_URL</key>
	<string>https://efb-enroute-311da.firebaseio.com</string>
</dict>
</plist>